.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
  	padding: 5px; 
  	width: 100%;
	font-size: 10px;
}

.banner { 
	height: 315px;
	background: url("../images/background.png") no-repeat;
	background-size: cover;
	color: white;
	align-items: center;
	
}

.container h1 { 
    margin-bottom: 10px;
}